.list-group-item:hover{
    background-color: rgb(94, 96, 98) !important;
}

.media-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: grey; 
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Asegura que el elemento esté por encima de otros contenidos */
}
